<footer>
    <div class="container footer-flex">
        <div class="footer-contacts">
            <a class="footer-logo link" href="./index.html">
                <span class="web-blue">Web</span>Studio
            </a>
            <address>
                <ul class="adress-contact list">
                    <li class="adress-contact-li">
                        <a
                            class="adress-link link"
                            href="https://goo.gl/maps/piqngm7oDQpEDh6u6"
                            target="_blank"
                            rel="noopener nofollow noreferrer"
                            >г. Киев, пр-т Леси Украинки, 26</a>
                    </li>
                    <li class="adress-contact-li">
                        <a class="contact-footer link" href="mailto:info@devstudio.com">info@devstudio.com</a>
                    </li>
                    <li class="adress-contact-li">
                        <a class="contact-footer link" href="tel:+380961111111">+38 096 111 11 11</a>
                    </li>
                </ul>
            </address>
        </div>
    </div>
</footer>