<header class="header">
    <div class="container">
        <nav class="navigation">
            <%=link_to root_path, class: "logo link animate__animated animate__flash" do %>
                <span class="web-blue">Web</span>Studio
            <%end%>
            <ul class="site-nav list">
                <li class="nav-li">
                    <%= link_to 'Main', root_path, class: 'nav-link link current'%>
                </li>
                <li class="nav-li">
                    <%=link_to  'Catalog', catalog_index_path, class: 'nav-link link'%>
                </li>
                <li class="nav-li">
                    <a class="nav-link link" href="#">Contacts</a>
                </li>
            </ul>
        </nav>
        <ul class="contact list">
            <li class="nav-li">
                <a class="contact-link link" href="mailto:info@devstudio.com">
                    <svg class="nav-li-item" width="16" height="12">
                        <use href="images/symbol-defs.svg#envelope"></use>
                    </svg>
                  info@devstudio.com</a>
            </li>
            <li class="nav-li">
              <a class="contact-link link" href="tel:+380961111111">
                <svg class="nav-li-item" width="10" height="16">
                  <use href="images/symbol-defs.svg#smartphone"></use>
                </svg>
                +38 096 111 11 11</a>
            </li>
        </ul>
    </div>
</header>