<li class="fetures-item">
    <div class="features-icon-wrapper">
        <svg width="70" height="70">
            <%if image.attached?%>
                <%=image_tag image%>
            <%end%>
        </svg>
    </div>
    <h3 class="features-title"><%=name%></h3>
</li>