<li class="fetures-item">
    <div class="features-icon-wrapper">
        <svg width="70" height="70">
            <use href="./images/symbol-defs.svg#diagram-1"></use>
        </svg>
    </div>
    <h3 class="features-title"><%=name%></h3>
</li>