<a class="brand-link"> 
    <li class="features-item">
        <div class="features-icon-wrapper">
                <%if image.attached?%>
                    <%=image_tag image , class:"brand-item"%>
                <%end%>
        </div>
        <h3 class="features-title"><%=name%></h3>
    </li>
</a>